<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

<div class="container">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h3 class="card-title"><%= supplier.name %></h3>
                    <p class="card-text"><i class="fa-solid fa-house m-2"></i><%= supplier.address %></p>
                    <p class="card-text"><i class="fa-solid fa-envelope m-2"></i><%= supplier.email %></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h3 class="card-title">Products</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>